body{
    background-color: rgb(104, 163, 245);

}

header{
    padding: center;
    color: white;
    text-align: center;
    font: normal 20pt Century;

}

footer{
    margin: auto;
    color: white;
    text-align: center;
    padding: 5px;
    font: normal 12pt Century;
    
}

section {
    background-color: white;
    width: 400px;
    border-radius: 10px;
    box-shadow: 2cm;
    padding: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.252);
    margin: auto;
    font: normal 12pt Century;
}